@tailwind base;
@tailwind components;
@tailwind utilities;


root {
  font-size: 17px;
}

h1, .text-headline1 {
  font-size: 6em;
  letter-spacing: -1.5px;
}

h2, .text-headline2 {
  font-size: 3.764705882352941em;
  letter-spacing: -0.5px;
}

h3, .text-headline3 {
  font-size: 3em;
  letter-spacing: 0px;
}

h4, .text-headline4 {
  font-size: 2.1176470588235294em;
  letter-spacing: 0.25px;
}

h5, .text-headline5 {
  font-size: 1.4705882352941178em;
  letter-spacing: 0px;
}

h6, .text-headline6 {
  font-size: 1.2352941176470589em;
  letter-spacing: 0.15px;
}

.text-subtitle1 {
  font-size: 1em;
  letter-spacing: 0.15px;
}

.text-subtitle2 {
  font-size: 0.8823529411764706em;
  letter-spacing: 0.1px;
}

p, .text-body1 {
  font-size: 1em;
}

.text-body2 {
  font-size: 0.8823529411764706em;
  letter-spacing: 0.25px;
}

.text-button {
  font-size: 0.8823529411764706em;
  letter-spacing: 1.25px;
}

.text-caption {
  font-size: 0.7647058823529411em;
  letter-spacing: 0.4px;
}